.logo-box {
  width: calc(16rem + 4vw);
  height: calc(2.5rem + 2vw);
  border-radius: 0.8rem;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-box > img {
  height: 55%;
  margin-left: 2rem;
}

.logo-box > h2 {
  color: var(--PURPLE-COLOR);
  font-weight: 900;
  font-size: clamp(1.35rem, 1.5vw, 2.5rem);
  margin-left: 1rem;
  cursor: pointer;
  margin-right: 2rem;
}
