.profile-box {
  width: calc(12rem + 4vw);
  height: calc(1.5rem + 2vw);
  border-radius: 0.65rem;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-box .profile-img {
  width: calc(1.4rem + 1vw);
  height: calc(1.4rem + 1vw);
  border-radius: 50%;
}

.profile-box > p {
  font-size: clamp(1.15rem, 1.55vw, 4rem);;
  font-weight: 500;
}

.profile-box .logout-icon {
  height: 45%;
  cursor: pointer;
}
